<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-studente-heading" jhiTranslate="jhipsterSampleApplicationApp.studente.home.createOrEditLabel">Create or edit a Studente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!studente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="studente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.studente.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="studente.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.studente.cognome" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                        [(ngModel)]="studente.cognome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.studente.eta" for="field_eta">Eta</label>
                    <input type="number" class="form-control" name="eta" id="field_eta"
                        [(ngModel)]="studente.eta" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.studente.id" for="field_id">Id</label>
                    <select class="form-control" id="field_id" name="id" [(ngModel)]="studente.id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utenteOption.id === studente.id?.id ? studente.id : utenteOption" *ngFor="let utenteOption of ids; trackBy: trackUtenteById">{{utenteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
